* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
/*area - MENU*/
.bar-top {
	background-color: #333;
	width: 100%;
	height: 30px;
}

/* area - NAV À ESQUERDA*/
.bar{
	max-width: 1040px;
	height: 30px;
	margin: auto;
	display: flex;
	
}
.bar-nav{
	display: flex;
	flex: 1;
}
.bar-nav ul,li {
	list-style: none;
}
.bar-nav ul{
	display: flex;
	align-items: center;
}
.bar-nav li a{
	color: #FFF;
	font-weight: bold;
	text-transform: capitalize;
	text-decoration: none;
	margin: 0px 8px 0px 8px;
	font-size: 12px;
}
.bar-nav a:hover{
	color: rgb(33, 104, 211);
}

/*area - PESQUISA À DIREITA*/
.bar-search {
	display: flex;
	flex: 1;
	justify-content: flex-end;
}
.bar-search ul {
	display: flex;
	align-items: center;
}
.bar-search li {
	margin: 0px 3px;
}
.bar-search li img{ 
	width: 25px;
	height: 25px;
	margin-top: 3px;
}
.bar-search .lupa img {
	width: 19px;
	height: 19px;
}
.bar-search li input {
	border: none;
}

/*top - LOGO/ANUNCIO*/
/*logo-LEFT*/
.header-top {
	width: 100%;
	height: 95px;
}
.header-logo-anuncio {
	width: 1040px;
	height: 95px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.logo a{
	color: #ff0000;
	font-size: 50px;
	font-weight: 600;
	text-decoration: none;
	text-shadow: 2px 2px 1px #333;
	
}
/*anuncio - RIGHT*/
.anuncio {
	background-color: #DDD;
	width: 650px;
	height: 80px;
}

/*menu-principal*/
nav {
	width: 100%;
	background-color: #ff0000;
}
.area-menu {
	width: 1040px;
	height: 40px;
	margin: auto;
	display: flex;
}
.area-menu ul {
	display: flex;
	align-items: center;
}
.area-menu ul li a {
	color: #FFF;
	margin: 0px 8px;
	text-transform: capitalize;
	text-decoration: none;
	align-items: center;
	font-weight: 500;
}
.area-menu ul li a:hover {
	text-decoration: underline;
}